<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cola.shortUrl.mapper.LinkAccessStatisticsMapper">


    <select id="ipTotal" resultType="java.lang.Integer">
        SELECT count(*) AS ipTotal
        FROM (SELECT ip, MIN(create_time) AS createTime
              FROM link_access_statistics
              WHERE
                  short_link_id = #{urlId}
              GROUP BY ip) AS n
    </select>


    <select id="selectByTime" resultType="com.cola.shortUrl.domain.LinkAccessStatist">
        SELECT id,
        DATE_FORMAT(create_time, '%H:00:00') AS createTime
        FROM link_access_statistics
        where user_by =#{userId}
        <if test="id != null">and short_link_id =#{id} </if>
        and create_time between #{startTime} AND #{endTime}

    </select>


    <select id="daysStatistics" resultType="java.lang.Long">
        SELECT COALESCE(count_stats.daily_count, 0) AS count
        FROM
        (
        SELECT
        1 AS DAY UNION ALL
        SELECT
        2 UNION ALL
        SELECT
        3 UNION ALL
        SELECT
        4 UNION ALL
        SELECT
        5 UNION ALL
        SELECT
        6 UNION ALL
        SELECT
        7
        ) AS days
        LEFT JOIN (
        SELECT
        DATE ( create_time) AS the_date,
        COUNT(*) AS daily_count
        FROM
        link_access_statistics
        WHERE
        user_by=#{userId}
        <if test="id != null">and short_link_id =#{id} </if>
        and create_time >= CURDATE() - INTERVAL 7 DAY
        GROUP BY
        DATE (create_time )
        ) AS count_stats
        ON DATE_SUB( CURDATE(), INTERVAL days.DAY - 1 DAY ) = count_stats.the_date
        ORDER BY
        days.DAY DESC;
    </select>

    <select id="selectTerminal" resultType="java.util.Map">
        SELECT '安卓' as name, count(*) as value
        FROM link_access_statistics
        WHERE terminal = 1 and user_by=#{userId}
        <if test="id !=null "> and short_link_id =#{id}</if>
        UNION All
        SELECT 'iPhone' as name, count(*) as value
        FROM link_access_statistics
        WHERE terminal = 2 and user_by=#{userId}
        <if test="id !=null "> and short_link_id =#{id}</if>
        UNION All
        SELECT 'Windows' as name, count(*) as value
        FROM link_access_statistics
        WHERE terminal = 3 and user_by=#{userId}
        <if test="id !=null "> and short_link_id =#{id}</if>
        UNION All
        SELECT 'MacOS' as name, count(*) as value
        FROM link_access_statistics
        WHERE terminal = 4 and user_by=#{userId}
        <if test="id !=null "> and short_link_id =#{id}</if>
        UNION All
        SELECT '其他' as name, count(*) as value
        FROM link_access_statistics
        WHERE terminal = 5 and user_by=#{userId}
        <if test="id !=null "> and short_link_id =#{id}</if>;
    </select>

    <select id="sumUp" resultType="UrlStatisticsVo">
        SELECT *
        FROM (SELECT COUNT(*) AS visitsTotal FROM link_access_statistics WHERE user_by = #{userId} <if test="id !=null "> and short_link_id =#{id}</if> ) AS a,
        (SELECT count(*) AS ipTotal
        FROM (SELECT ip, MIN(create_time) AS createTime
        FROM link_access_statistics
        where user_by = #{userId}
        <if test="id !=null "> and short_link_id =#{id}</if>
        GROUP BY ip) AS n) AS b,
        (SELECT COUNT(*) AS todayAddNum
        FROM link_access_statistics
        WHERE user_by = #{userId}
        <if test="id !=null "> and short_link_id =#{id}</if>
        AND create_time BETWEEN #{startTime} AND #{endTime}) AS c,
        (
        SELECT count(*) AS todayAddIpNum
        FROM (SELECT ip, MIN(create_time) AS createTime
        FROM link_access_statistics
        WHERE user_by = #{userId}
        <if test="id !=null "> and short_link_id =#{id}</if>
        GROUP BY ip) AS k
        WHERE createTime BETWEEN #{startTime} AND #{endTime}
        ) d
    </select>

    <select id="selectCity" resultType="java.util.Map">
        SELECT *
        FROM (SELECT address, COUNT(*) as num
        FROM link_access_statistics
        WHERE user_by = #{userId}
        <if test="id !=null "> and short_link_id =#{id}</if>
        GROUP BY address
        ORDER BY num desc LIMIT 10) as k
        ORDER BY num ASC
    </select>


    <insert id="insertLog" parameterType="com.cola.shortUrl.domain.LinkAccessStatist"
            useGeneratedKeys="true" keyProperty="id">
        insert into link_access_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shortLinkId != null">short_link_id,</if>
            <if test="ip != null">ip,</if>
            <if test="address != null">address,</if>
            <if test="terminal != null">terminal,</if>
            <if test="userAgent != null">user_agent,</if>
            <if test="userBy != null">user_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shortLinkId != null">#{shortLinkId},</if>
            <if test="ip != null">#{ip},</if>
            <if test="address != null">#{address},</if>
            <if test="terminal != null">#{terminal},</if>
            <if test="userAgent != null">#{userAgent},</if>
            <if test="userBy != null">#{userBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>


</mapper>
